@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<a class="btn btn-success float-end" asp-action="Create">Kullanıcı Ekleme</a>
<br />
<br />
<br />
<div class="card">
    <div class="card-header">Kullanıcı Listesi</div>
    <div class="card-body  ">

        <table class="table table-bordered">
            <thead>

                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th width="250px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.FullName</td>
                        <td>@item.Email</td>
                        <td>
                            <a href="/Users/Edit/@item.Id/" class="btn btn-primary">Düzenle</a>
                            <a href="/Users/Details/@item.Id/" class="btn btn-secondary">Detaylar</a>
                            <form asp-action="Delete" method="post" onsubmit="return confirm('Emin Misiniz')" style="display:inline-block">
                                <input hidden value="@item.Id" name="id" />
                                <button type="submit" class="btn btn-danger">Sil</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>